{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <h1>{{message}}</h1>

    <a href="http://localhost:15672/#/">show it's worked </a>
    <p>login:guest</p>
    <p> password:guest</p>
{% endblock %}
